/* From Uiverse.io by aryamitra06 */ 
.loader {
    display: flex;
    align-items: center;
  }
  
  .bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
  }
  
  .bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
  }
  
  .bar:nth-child(3) {
    animation-delay: .5s;
  }
  






  @keyframes scale-up4 {
    20% {
      background-color: #4c4c4c;
      transform: scaleY(1.3);
    }
  
    40% {
      transform: scaleY(1);
    }
  }




  .shimmer-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .shimmer-content {
    background: #292929;
    background-image: linear-gradient(
      to right,
      #f6f7f851 0%,
      #edeef13e 20%,
      #f6f7f83c 40%,
      #f6f7f844 100%
    );
    background-repeat: no-repeat;
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    padding: 1rem;
    border-radius: 4px;
    width: 100%;
    max-width: 150px;
  }
  
  .shimmer-thumbnail {
    width: 100%;
    height: 50px;
    background: #e0e0e0;
    margin-bottom: 0.5rem;
    border-radius: 4px;
  }
  
  .shimmer-line {
    height: 10px;
    background: #e0e0e0;
    margin-bottom: 0.5rem;
    border-radius: 4px;
  }
  
  .shimmer-line-short {
    width: 60%;
  }
  
  .shimmer-line-long {
    width: 80%;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  