/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'wotfard';
    src: url('./assets/fonts/wotfard-medium-webfont.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'wotfard';
    src: url('./assets/fonts/wotfard-regular-webfont.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'wotfard';
    src: url('./assets/fonts/wotfard-semibold-webfont.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'queens';
    src: url('./assets/fonts/Queens_W-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'frunchy';
    src: url('./assets/fonts/FontsFree-Net-Frunchy.ttf') format('truetype');
}

@font-face {
    font-family: 'adelia';
    src: url('./assets/fonts/FontsFree-Net-adelia.ttf') format('truetype');
}


.frunchy{
    font-family: frunchy;
}
.adelia{
    font-family: adelia;
}


*{
    /* border: 1px solid gray; */
    font-family: wotfard;
    transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out;
}




body{
    transition: .3s ease-out;
    
}

.rainbow {
    -webkit-background-clip: text; /* For Safari support */
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #de8500, #856afc);
}
  

.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}

.italianno{
    font-family: "Italianno", cursive;
}
  
/* Add these styles to your global CSS file */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent !important;
  /* color: #333 !important; Adjust color to your theme */
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #737373;
    font-weight: 600;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

input{
    background: transparent !important;
}

/* For light mode */
::placeholder {
    color: rgba(103, 104, 105, 0.6); /* Adjust the color and opacity */
  }
  
  /* For dark mode */
.dark ::placeholder {
    color: rgba(156, 163, 175, 0.416); /* Adjust the color and opacity */
}
.dark .placeholder {
    color: rgba(156, 163, 175, 0.416); /* Adjust the color and opacity */
}

.placeholder{
    color: rgba(103, 104, 105, 0.6); /* Adjust the color and opacity */
}

.force-z{
    z-index: 999999 ; /* Ensure the element is always on top */
}

textarea,
  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="email"],
  select
  {
       -webkit-appearance: none !important;
       border-radius: 0 !important;      
  }

  @layer utilities {
    .bg-noise {
      background-image: url('./assets/images/blue_noise_med.png');
      background-size: cover;
    }
  }
  
  .italiana {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .oranienbaum {
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    font-style: normal;
  }
  .oranienbaum-italic {
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cinzel-decorative {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cinzel-decorative-bold {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cinzel-decorative-black {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .cormorant-infant {
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .cormorant-infant-regular {
    font-family: "Cormorant Infant", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cormorant-infant-medium {
    font-family: "Cormorant Infant", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .cormorant-infant-semibold {
    font-family: "Cormorant Infant", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .cormorant-infant-bold {
    font-family: "Cormorant Infant", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cormorant-infant-light-italic {
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .cormorant-infant-regular-italic {
    font-family: "Cormorant Infant", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .cormorant-infant-medium-italic {
    font-family: "Cormorant Infant", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .cormorant-infant-semibold-italic {
    font-family: "Cormorant Infant", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .cormorant-infant-bold-italic {
    font-family: "Cormorant Infant", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .newsreader {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .italianno-regular {
    font-family: "Italianno", serif;
    font-weight: 400;
    font-style: normal;
  }
  .sacramento {
    font-family: "sacramento", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  @keyframes marquee {
    from {
      transform: translateX(-30%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  .animate-marquee {
    animation: marquee linear infinite reverse;
    will-change: transform; /* Optimizes rendering performance */
  }